html,
body {
    background-color: #fff;
    font-size: 10px;
    min-width: 320px;
}
/* Секция */
.select_item {
    font-family: 'Raleway', sans-serif;
    font-size: 4rem;
    text-align: center;
    font-weight: normal;
    margin-top: 10rem;
    margin-bottom: 4rem;
}
.find_item {
    height: 5rem;
    border-style: none;
    border-radius: 3rem;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1rem;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}
.find_item::placeholder {
    color: #BDBDBD;
}
.find_item:focus {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.items_block {
    margin-top: 4rem;
}
.item {
    margin-top: 5rem;
    font-family: 'Raleway', sans-serif;
}
.item:hover {
    cursor: pointer;
}
.img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.image {
    width: 23rem;
    height: 23rem;
}
.item_name {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 1.7rem;
}
.article {
    font-size: 1.1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #055160;
    margin-top: 2rem;
    text-align: center;
}
@media (max-width: 1199px) {
    .select_item {
        font-size: 3rem;
        margin-top: 7rem;
        margin-bottom: 3rem;
    }
    .find_item {
        font-size: 1.8rem;
        height: 4rem;
    }
    .item {
        margin-top: 4rem;
    }
    .item_name {
        font-size: 1.2rem;
    }
    .image {
        width: 16rem;
        height: 16rem;
    }
    .article {
        font-size: 0.8rem;
    }
}
@media (max-width: 991px) {
    .select_item {
        margin-top: 5rem;
    }
    .item {
        margin-top: 2rem;
    }
    .item_name {
        font-size: 1rem;
    }
    .image {
        width: 13rem;
        height: 13rem;
    }
}
@media (max-width: 767px) {
    .select_item {
        margin-top: 3rem;
    }
    .item_name {
        font-size: 0.9rem;
    }
    .image {
        width: 11rem;
        height: 11rem;
    }
    .article {
        font-size: 0.7rem;
    }
}
@media (max-width: 575px) {
    .find_item {
        font-size: 1.4rem;
    }
}